table #red {
  background-color:#ff0000;
  width: 20px;
}
#orange {
  background-color:red;
  width: 20px;
}

#yellow {
  background-color:'red';
  width: 20px;
}

#green {
  background-color:'red';
  width: 20px;
}

#blue {
  background-color:'red';
  width: 20px;
}
